{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="header-img">
  </div>
</div>

{% if current_user.is_authenticated %}
  <div class="row background-menu">
    <div class="col-lg-12">
      <ul class="markets-menu">
        <li class="market"><a class="active" href="#all">All markets</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Foodtech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Robotics</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">AI</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Mobility</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Healthtech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Fashiontech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Fintech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Femtech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Adtech</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Agtech</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
    <p class="title">STARTUPS</p>
      <ul class="list-group">
        {% for startup in startups %}
          <li class="list-group-item">
            <p class="name">{{startup.name}}</p>
            <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{startup.url}}">{{startup.url}}</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-4">
      <p class="title">INVESTORS</p>
      <ul class="list-group">
        {% for investor in investors %}
          <li class="list-group-item">
            <p class="name">{{investor.name}}</p>
            <p class="country"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{investor.country}}</p>
            <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{investor.url}}">{{investor.url}}</a></p>
            <p>Markets: <a href="{{ url_for('users.signup') }}"></a> </p>
            <p>Investments: <a href="{{ url_for('users.signup') }}"></a></p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-2">
      <p class="title">COLLECTIONS</p>
      <ul class="list-group collections">
        <li class="list-group-item collection">Contact next week <a href="#"><span class="glyphicon glyphicon-remove right" aria-hidden="true"></span></a></li>
      </ul>
      <a class="add-item" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new collection</a>
    </div>

  </div>
  {% else %}
  <div class="row background-menu">
    <div class="col-lg-12">
      <ul class="markets-menu">
        <li class="market"><a class="active" href="#all">All markets</a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Foodtech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Robotics <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">AI <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Mobility <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Healthtech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Fashiontech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Fintech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Femtech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Adtech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
        <li class="market"><a href="{{ url_for('users.signup') }}">Agtech <span class="menu-lock-icon glyphicon glyphicon-lock"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-offset-2">
    <p class="title">STARTUPS</p>
      <ul class="list-group">
        {% for startup in startups %}
          <li class="list-group-item">
            <p class="name">{{startup.name}}</p>
            <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{startup.url}}">{{startup.url}}</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-4">
      <p class="title">INVESTORS</p>
      <ul class="list-group">
        {% for investor in investors %}
          <li class="list-group-item">
            <p class="name">{{investor.name}}</p>
            <p class="country"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{investor.country}}</p>
            <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{investor.url}}">{{investor.url}}</a></p>
            <p>Markets: <a href="{{ url_for('users.signup') }}"><span class="lock-icon glyphicon glyphicon-lock"></span></a> </p>
            <p>Investments: <a href="{{ url_for('users.signup') }}"><span class="lock-icon glyphicon glyphicon-lock"></span></a></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endblock %}
