{% extends 'base.html'%}

{% block content %}
<div class="row">
  <div class="header-img">
    <div class="hero-text-box">
      <h1>FIND LIKE-MINDED INVESTORS <span class="faster-h1"><em>faster</em></span></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 title">
    <p><strong>Login</strong></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <form action="{{ url_for('root')}}" method="post">
      {{ form.csrf_token }}
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <p>
        {{form.name.label}}
        {{ form.name(placeholder="Collection Name", class="form-control") }}
      </p>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
{% endblock %}
