{% extends 'base.html'%}

{% block content %}
<div class="row">
  <div class="col-lg-2 col-lg-offset-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="settings" role="presentation"><a href="{{url_for('users.show', id=current_user.id)}}">General</a></li>
      <li class="settings" role="presentation"><a class="active" href="{{url_for('users.password', id=current_user.id)}}">Password</a></li>
      <li class="settings" role="presentation"><a href="{{url_for('users.collection', id=current_user.id)}}">Collections</a></li>
    </ul>
  </div>

  <div class="col-lg-4 password-form">
    <h3>Password</h3>
    <form action="{{url_for('users.show', id=current_user.id)}}?_method=PATCH" method="post">
      {{ form.csrf_token }}
      <p>
        {{form.current.label}}
        {{form.current(class="form-control")}}
        <span>
          {% if form.current.errors %}
            {% for error in form.current.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
        {{form.new_password.label}}
        {{form.new_password(class="form-control")}}
        <span>
          {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
        {{form.confirm.label}}
        {{form.confirm(class="form-control")}}
        <span>
          {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <button type="submit" class="btn btn-info">Change password</button>
    </form>
  </div>
</div>
{% endblock %}
