{% extends 'base.html'%}

{% block content %}
<div class="row">
  <div class="header-img">
    <div class="hero-text-box">
      <h1>FIND LIKE-MINDED INVESTORS <span class="faster-h1"><em>faster</em></span></h1>
    </div>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 forms">
    <p class="title"><strong>Register using your e-mail address:</strong></p>
    <form action="{{ url_for('users.signup') }}" method="post">
      {{ form.csrf_token }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <p>
        {{form.username.label}}
        {{ form.username(placeholder="Select your Username *", class="form-control") }}
      </p>
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <p>
        {{form.email.label}}
        {{ form.email(placeholder="E-mail Address *", class="form-control") }}
      </p>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <p>
        {{form.password.label}}
        {{ form.password(placeholder="Password *", class="form-control") }}
      </p>
      <button type="submit" class="btn btn-success">Create a new account</button>
    </form>
  </div>
</div>
{% endblock %}
